
@font-face {
    font-family:"BasisGrotesquePro-Regular";
    src:url("Basis Grotesque Pro Regular.woff2") format("woff2"),url("Basis Grotesque Pro Regular.woff") format("woff"),url("Basis Grotesque Pro Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        