
@font-face {
    font-family:"BasisGrotesquePro-Medium";
    src:url("Basis Grotesque Pro Medium.woff2") format("woff2"),url("Basis Grotesque Pro Medium.woff") format("woff"),url("Basis Grotesque Pro Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        