
@font-face {
    font-family:"BasisGrotesquePro-Light";
    src:url("Basis Grotesque Pro Light.woff2") format("woff2"),url("Basis Grotesque Pro Light.woff") format("woff"),url("Basis Grotesque Pro Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        