
@font-face {
    font-family:"BasisGrotesquePro-Bold";
    src:url("Basis Grotesque Pro Bold.woff2") format("woff2"),url("Basis Grotesque Pro Bold.woff") format("woff"),url("Basis Grotesque Pro Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        